.das{
    width: 1300px;
    height: 600px;
    background-color: white;
    opacity: 80%;
    border-radius: 30px;
    position: absolute;
    overflow: auto;
    margin-left: 100px;
    margin-top: 50px;
}
.das::-webkit-scrollbar {
    width: 0;
  }