.react-datepicker-wrapper {
    width: 450px; /* Increase the width of the date picker wrapper */
  }
  
  .react-datepicker {
    font-size: 18px; /* Increase the font size of the calendar */
    background-color: #f5f5f5; /* Add a background color to the calendar */
    border: 1px solid #ccc; /* Add a border to the calendar */
  }
  
  .react-datepicker__header {
    background-color: #007bff; /* Set a background color for the header */
    border-bottom: none; /* Remove the bottom border of the header */
    color: #fff; /* Set the text color of the header */
  }
  
  .react-datepicker__current-month {
    font-size: 20px; /* Increase the font size of the current month */
  }
  
  .react-datepicker__day-names,
  .react-datepicker__week {
    height: 50px; /* Increase the height of day names and week rows */
  }
  
  .react-datepicker__day {
    line-height: 50px; /* Increase the line height of each day */
    width: 50px; /* Increase the width of each day */
    height: 50px; /* Increase the height of each day */
    font-size: 18px; /* Increase the font size of each day */
    border-radius: 50%; /* Make each day circular */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .react-datepicker__day:hover {
    background-color: #007bff; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
  }
  



  .react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}



.react-datepicker__day--outside-month {
    color: #ccc; /* Apply a different text color for dates outside the current month */
    cursor: default; /* Change cursor style for dates outside the current month */
  }

